
.gradientBackground {
  background: linear-gradient(340deg, #9c23ff, #ff3460);
  background-size: cover;
  background-attachment: fixed;
  }


.contentUnit:nth-of-type(odd) {
  background: linear-gradient(340deg, #ff315d, #ffcb3e);
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.contentUnit:nth-of-type(odd) .subHead {
  background: #ffffff;
  color: #ff7300;
}






/* // Small devices (landscape phones, 576px and up) */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .contentUnit:nth-of-type(odd) .subHead {
    background: linear-gradient(340deg, #ff315d, #ffcb3e);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    color: #ffffff;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}




/*********************************** ANIMATIONS ************************************/

.animatedSprite {
  --animSteps: 20;
  max-width: 624px;
  height: 351px;
  background-image: url('../images/ar-images/CheerleaderSpriteC.png');
  background-position: 0px 0px;
  transform: scale(1);
  position: relative;
}