
.gradientBackground {
  background: linear-gradient(340deg, #43aada, #69ddb7);
  /* background: linear-gradient(340deg, #66cae9, #69ddb7); */
  background-size: cover;
  background-attachment: fixed;
  }

.contentUnit:nth-of-type(odd) {
  background: linear-gradient(340deg, #68c8f5, #86ffa4);
}
.contentUnit:nth-of-type(odd) .subHead {
  background: #ffffff;
  color: #68d5cc;
}






/* // Small devices (landscape phones, 576px and up) */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .contentUnit:nth-of-type(odd) .subHead {
    background: linear-gradient(340deg, #68c8f5, #86ffa4);
    color: #ffffff;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}




/*********************************** ANIMATIONS ************************************/

.animatedSprite {
  --animSteps: 30;
  max-width: 325px;
  height: 455px;
  background-image: url('../images/ar-images/GreenLanternSequence2e.png');
  background-position: 0px 0px;
  transform: scale(1);
  transform: translateX(-2.5rem);
  position: relative;
}