
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  

  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .nudgedUp {
      position: absolute;
      transform: translate(-50%, -20%);
      left: 50%;
  }
  
  .smallerText{
      font-size: 2.5rem;
  }

  .bottomAlignment{
    vertical-align: bottom;
  }

  .animatedSprite {
    width: 250px;
    height: 350px;
    background: url('AR_resources/GreenLanternSequence_C2.png') left center;
    animation: play 2.0s steps(31) infinite;
    transform: scale(1.25);
  }
  @keyframes play {
    100% { background-position: -7750px; }
 }

 .gradientBackground {
  background: linear-gradient(340deg, #fbc53f, #fb723f);
  background-size: 400% 400%;
  
  -webkit-animation: ColoredBG 10s ease infinite;
  -moz-animation: ColoredBG 10s ease infinite;
  animation: ColoredBG 10s ease infinite;
  }


  
  @-webkit-keyframes ColoredBG {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @-moz-keyframes ColoredBG {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }
  @keyframes ColoredBG { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
  }

  #UC h3 {
    text-indent: 3rem;
  }

  .title-right {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255,255,255,0))
  }

  #dynamicHeight
{
    width: 70%;
    
    /* Just for looks: */
    background-color: cornflowerblue;
    margin: 25px;
}

/* Edits included for 6/12 version (AR02) */

#leadDiv {
  height: 100vh;
  width: 100%;
}