a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    line-height: 95%;
  }

tspan {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-anchor: middle;
}

p, ul, li {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    color: #ffffff;
    /*text-shadow: 1px 1px 5px rgba(0, 0, 0, .3);*/
  }

.subText {
    font-size: 0.41rem;
    font-weight: 300;
}


tspan:nth-of-type(1) {
    font-size: 1.61rem
}

tspan:nth-of-type(2) {
    font-size: 1.88rem
}


.item rect {
    clip-path: url(#clipping);
    }



.pageHeadContainer {
    width: calc(100vw - (100vw - 100%));
    height: calc(100vh - 60px);
    background: linear-gradient(340deg, rgb(28,255,151), rgb(0,246,255));
    background-size: cover;

}

.whiteBox {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
}

#stop1 {
    stop-color: rgb(0, 246, 255);
}

#stop2 {
    stop-color: rgb(28, 255, 151);
}

.pictureContainer {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.headPicContainer {
    height: 50%;
    width: 50%;
}

.headPic {
    max-height: 90%;
    max-width: 80%;
    position: relative;
    right: 0px;
}

.rectangle {
    width: 100vw;
    height: 100vh;
}

.knockoutTextContainer {
    width: 100%;
    height: 50%;
}

.knockoutTextBox {
    width: 100%;
    height: 100%;
}

.contentUnit:nth-of-type(odd) {
    background: linear-gradient(340deg, #1f1f1f, #3b3b3b);
    /* hsv 347.18, 100%, 59.61% - 43.83, 100%, 62.16% */
    /* rgb 255, 49, 93 - 255, 203, 62 */
    background-size: cover;
}
  .contentUnit:nth-of-type(odd) .subHead {
    background: #ffffff;
    color: #2c2c2c;
  }

.contentUnit:nth-of-type(even) {
    background: linear-gradient(340deg, rgb(28,255,151), rgb(0,246,255));
}

.contentUnit:nth-of-type(even) .subHead {
    background-color: #ffffff;
    color: rgb(152, 152, 255);
}

#brandsSVG {
    width: 100%;
}

.custom-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 1.5rem;
    line-height: 100%;
    background-color: #ffffff00;
    color: #ffffff;
    /* border-color: #ffffff; */
    display: inline-flex;
    vertical-align: middle;
}

.custom-btn:hover {
    background-color: #ffffff;
    color: rgb(152, 152, 255);
}

i {
    line-height: 100%;
    transform: translateY(50%);
}


@media (min-width: 768px) {

    .pictureContainer {
        height: 100%;
    }

    .knockoutTextContainer {
        height: 100%;
    }


    .contentUnit:nth-of-type(odd) .subHead {
        background: linear-gradient(340deg, #1c1c1c, #3c3c3c);
        color: #ffffff;
      }

    .contentUnit:nth-of-type(even) .subHead {
        background: linear-gradient(340deg, rgb(28,255,151), rgb(0,246,255));
        color: #ffffff;
    }

    .custom-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        line-height: 100%;
        background-color: #ffffff00;
        color: #2c2c2c;
        /* border-color: #2c2c2c; */
        display: inline-flex;
        vertical-align: middle;
    }
    
    .custom-btn:hover {
        background-color: #2c2c2c;
        color: #ffffff;
    }

}





/*********************************** ANIMATIONS ************************************/

.animatedSprite {
    --animSteps: 20;
    max-width: 624px;
    height: 351px;
    background-image: url('../images/ar-images/CheerleaderSpriteC.png');
    background-position: 0px 0px;
    transform: scale(1);
    position: relative;
  }